<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Used with ILMerge -->
		<!--section name="FileImportSettings" type="jBackupAPI.cFileImportSettingsConfigSection, FileImportClientConsole"/-->
		<!-- End Used with ILMerge -->
		<!-- Used for development -->
		<section name="jBackupSettings" type="jBackupAPI.cBackupFolderConfigSection, jBackupAPI"/>
		<!--End Used for development -->
	</configSections>
	<jBackupSettings>
		<jBackupConfigSections>
      <add ProcessKey="apps" Src="C:\apps" Target="F:\Backups\Machine\C\Apps"/>
      <add ProcessKey="tools" Src="C:\tools" Target="F:\Backups\Machine\C\Tools"/>
      <add ProcessKey="jDev" Src="C:\VIR_D\dev\jDev" Target="F:\Backups\My Work\jDev"/>
      <add ProcessKey="My Documents" Src="D:\VIR_D\data\My Documents" Target="F:\Backups\WFS\My Documents"/>
      <add ProcessKey="Documents" Src="C:\Users\jcaples\Documents" Target="F:\Backups\WFS\Documents"/>

      <add ProcessKey="Safe" Src="\\sanserver\users\joel caples\safe" Target="F:\Backups\WFS\Safe"/>
      <add ProcessKey="2012_R360_Current_Dev" Src="C:\VIR_D\dev\wfs\2012_R360_Current_Dev" Target="F:\Backups\WFS\Dev\2012_R360_Current_Dev"/>
      <add ProcessKey="CDS_Dev" Src="C:\VIR_D\dev\wfs\CDS_Dev" Target="F:\Backups\WFS\Dev\CDS_Dev"/>
      <add ProcessKey="integraPAY_Dev" Src="C:\VIR_D\dev\wfs\integraPAY_Dev" Target="F:\Backups\WFS\Dev\integraPAY_Dev"/>
      <add ProcessKey="integraPAY_Online_Dev" Src="C:\VIR_D\dev\wfs\integraPAY_Online_Dev" Target="F:\Backups\WFS\Dev\integraPAY_Online_Dev"/>
      <add ProcessKey="R360_1.04_Dev" Src="C:\VIR_D\dev\wfs\R360_1.04_Dev" Target="F:\Backups\WFS\Dev\R360_1.04_Dev"/>
      <add ProcessKey="R360_1.05_Dev" Src="C:\VIR_D\dev\wfs\R360_1.05_Dev" Target="F:\Backups\WFS\Dev\R360_1.05_Dev"/>
      <add ProcessKey="R360_2.01_Dev" Src="C:\VIR_D\dev\wfs\R360_2.01_Dev" Target="F:\Backups\WFS\Dev\R360_2.01_Dev"/>
      <add ProcessKey="R360_Current_Dev" Src="C:\VIR_D\dev\wfs\R360_Current_Dev" Target="F:\Backups\WFS\Dev\R360_Current_Dev"/>
      <add ProcessKey="Receivables_Hub_CDS_Dev" Src="C:\VIR_D\dev\wfs\Receivables_Hub_CDS_Dev" Target="F:\Backups\WFS\Dev\Receivables_Hub_CDS_Dev"/>
      <add ProcessKey="WFSSharedDependencies_Dev" Src="C:\VIR_D\dev\wfs\WFSSharedDependencies_Dev" Target="F:\Backups\WFS\Dev\WFSSharedDependencies_Dev"/>
      <add ProcessKey="work" Src="C:\VIR_D\dev\wfs\work" Target="F:\Backups\WFS\Dev\work"/>
      <add ProcessKey="work2" Src="C:\dev\wfs\work" Target="F:\Backups\WFS\Dev\work2"/>


      <add ProcessKey="Safe_Data" Src="\\sanserver\users\joel caples\safe\Data" Target="F:\Backups\WFS\Safe\Data"/>
      <add ProcessKey="Outlook" Src="c:\vir_d\data\outlook" Target="F:\Backups\WFS\Outlook"/>
		</jBackupConfigSections>
	</jBackupSettings>
	<appSettings>
		<add key="ExclusionFolders" value="$tf, _Obsolete, obj, TempPE, $RECYCLE.BIN"/>
	</appSettings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
